.card {
  box-sizing: border-box;
  width: 100%;
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  flex: 1l;
}

.card-content {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .card {
    width: 47.5%;
  }
}
